{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div id="image-container" class="span12">
        <fieldset>
            <legend>Image</legend>
        </fieldset>
        <div id="image">
            <img src="{{ image }}" />
        </div>
    </div>
</div>
<div class="row">
    <div id="create-comment-container" class="span6">
        <fieldset>
            <legend>Laissez votre commentaire</legend>
            <div id="create-comment">
                <form action="{{ path('Etf1ImaginizeBundle_index_index') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}

                    <input type="submit" class="btn btn-primary" />
                </form>
            </div>
        </fieldset>
    </div>
    <div id="result-container" class="span6">
        <fieldset>
            <legend>Nombre de commentaires en cours :</legend>
            {{ numberOfComments }}
        </fieldset>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
{% endblock %}